amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.22
DateTime==4.1
Django==1.9
django-excel==0.0.4
future==0.15.2
jdcal==1.2
kombu==3.0.34
openpyxl==2.2.2
pyexcel==0.2.0
pyexcel-io==0.1.0
pyexcel-webio==0.0.6
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
pymongo==3.2.2
pytz==2015.7
redis==2.10.5
texttable==0.8.4
xlrd==0.9.4
xlwt-future==0.8.0
zope.interface==4.1.3
