{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/item.css' %}" />
<h1>{{ item_name }} </h1>
<div id="mainblock">
    <div id="categories">
     <ul>{% for category in Categories %} <li>{{ category }}</li> {% endfor %}</ul>
    </div>

    <div class="itemdiv">
    <ul>{% for name, value in descriptions.get_fields %}<li>{{ name }}: {{ value }} </li>{% endfor %}</ul>
       <a href="{% url 'cars:addbasket' car_id=descriptions.id %}"> <button class="addto">Add to basket</button></a>
       <h3>{{ status }} </h3>
    </div>
    <div class="comment">
        {% if request.user.is_authenticated %}
            <form action='.'  method="post">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
                <button type='submit'>Send</button>
            </form>
             {% for comment in Comments %}<hr>{{ comment }}{% endfor %}
        {% else %}
            <h1>Sorry but only authenticated users can post the messeges</h1>
        {% endif %}
    </div>

</div>

{% endblock %}
