{% load staticfiles %}

{% load i18n %}

<!DOCTYPE html>

<html lang="en">

<head>

<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />


<title>Car Shop {% block title %}{% endblock %}</title>

</head>

<body>
    <!--==============================header=================================-->
    <header>
          <div class="main">
              <h1><a href="/">Car Shop</a></h1>
          </div>

          <div id="framediv">
           <div if="formdiv">
              <form action="/i18n/setlang/" method="POST">
                      {% get_available_languages as LANGUAGES %}
                      {% csrf_token %}
                      <select name="language">
                        {% for lang in LANGUAGES %}
                          <option value="{{ lang.0 }}">{{ lang.1 }}</option>
                        {% endfor %}
                      </select>
                      <input id = "localbutton" type="submit" value="{% trans 'change' %}" />
               </form>
          </div>
            <div><a href="/login">{% trans "login" %}</a> <a href="registration">{% trans "registeration" %}</a></div>

          {% if request.user.is_authenticated %}
                <div id="framediv"><a href="{% url 'basket:showbasket' action='show' %}">basket</a></div>
          {% endif %}
          </div>

    </header>

    {% block content %}
    {% endblock %}

    <!--==============================footer=================================-->
    <footer>
        <div class="main">
            <span>Copyright &copy; <a href="#">Domain Name</a> All Rights Reserved</span>
        </div>
    </footer>
</body>

</html>