{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />

<h1>Its basket page</h1>

<div id="mainblock">
    <form action='.'  method="post">
        {% csrf_token %}
         {% for item in items %}<hr>{{ item }} : Price {{ item.price }} {% endfor %}
        <h2>Total {{ total }}</h2>
        <button class="addto" value="buy">Buy</button>
        <button value="clear">Clear</button>
    </form>
</div>

{% endblock %}