{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<h1 style="color: white">
   {% trans "Hello,"%} {% if request.user.is_authenticated %}{{ request.user }}{% else %}guest,{% endif %}
    {% trans "you are at index page" %}
</h1>
<div id="mainblock">
    <div id="categories">
     <ul>
         {% for category in Categories %}
            <li>{{ category }}</li>
         {% endfor %}
     </ul>
    </div>

    <div id="itemlist">
        {% for car in cars %}
            <a href="{{ car.get_absolute_url }}">
                <div id="cars">
                    {{ car }}
                </div>
            </a>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if cars.has_previous %}
                <a href="?page={{ cars.previous_page_number }}">{% trans "previous" %}</a>
            {% endif %}

            <span class="current">
                {% trans "Page" %} {{ cars.number }} {% trans "of" %} {{ cars.paginator.num_pages }}.
            </span>

            {% if cars.has_next %}
                <a href="?page={{ cars.next_page_number }}">{% trans "next" %}</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}