{% load staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to site</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <h1>Welcome to our site!</h1>
    <p>{{ username }} you became a part of beautiful community of django developers</p>
    <p>This project helps us to become greater django guru.So wake up neo.Your activation code is
        http://127.0.0.1:8000/user/activate/{{ security_key }}</p>
</body>
</html>