{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<h1 style="color: white">{% trans 'Searching page' %}</h1>
<div id="mainblock">
    <div>
        <form action="{% url 'search' %}"  method="get">
            {% csrf_token %}
            <table align="center">
                {% for field in form %}
                  {% if forloop.first %}
                    <tr><td>{{ field.label }}{{ field }}</td></tr>
                  {% endif %}
                  {% if forloop.counter > 1 %}
                    {% if forloop.counter|divisibleby:"2" %}
                        <tr><td align="right">{{ field.label }}{{ field }}</td>
                    {% else %}
                        <td>{{ field.label }}{{ field }}</td></tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
            </table>
            <div id="lower">
                <button type='submit' value="">{% trans 'Search' %}</button>
            </div>
        </form>
        <ul>
            {% for car in search_res %}
                <div><li><a class="colored_grey" href="{{ car.get_absolute_url }}">
                        {{ car }}
                </a></li></div>
            {% endfor %}
        </ul>
    </div>


    <div class="pagination">
            <span class="step-links">
                {% if search_res.has_previous %}
                    <a href="?page={{ search_res.previous_page_number }}">{% trans 'previous' %}</a>
                {% endif %}

                <span class="current">
                    {{ search_res.number }} {% trans 'of' %} {{ search_res.paginator.num_pages }}.
                </span>

                {% if search_res.has_next %}
                    <a href="?page={{ search_res.next_page_number }}">{% trans 'next' %}</a>
                {% endif %}
            </span>
    </div>
</div>

{% endblock %}